<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout
      layout:decorate='~{layouts/layout1}'>

<!--사용자 스크립트 추가-->
<th:block layout:fragment="script">
  <script th:inline="javascript">
      $(document).ready(function(){
          $('#searchBtn').on("click", function(e){
              e.preventDefault();
              page(0);
          })
      });

      function page(page){
          const searchDateType = $("#searchDateType").val();  // 상품 등록 기간
          const searchSellStatus = $("#searchSellStatus").val();  // 판매 상태
          const searchBy = $("#searchBy").val();          // 조회 유형
          const searchQuery = $("#searchQuery").val();    // 검색어

          location.href="/admin/items/" + page + "?searchDateType=" + searchDateType
              + "&searchSellStatus=" + searchSellStatus
              + "&searchBy=" + searchBy
              + "&searchQuery=" + searchQuery;
      }
  </script>
</th:block>

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
  <style>
      select {
          margin-right : 10px
      }

  </style>
</th:block>

<div layout:fragment="content">
<form th:action="@{'/admin/items/' + ${items.number}}"
      role="form" method="get" th:object="${items}">
  <table class="table">
    <thead>
    <tr>
      <td>상품아이디</td>
      <td>상품명</td>
      <td>상태</td>
      <td>등록자</td>
      <td>등록일</td>
    </tr>
    </thead>
    <tbody>  <!-- items.getContnt() : items가 Page 객체이므로
                  상품 entity 를 가져옴. -->
    <tr th:each="item, status: ${items.getContent()}">
      <td th:text="${item.id}"></td>
      <td>
        <a th:href="'/admin/item/'+${item.id}" th:text="${item.itemNm}"></a>
      </td>
      <td th:text="${item.itemSellStatus ==
                   T(com.keduit.shop.constant.ItemSellStatus).SELL} ? '판매중' : '품절'"></td>
      <td th:text="${item.createdBy}"></td>
      <td th:text="${item.regTime}"></td>
    </tr>
    </tbody>
  </table>
  <hr>

  <!-- start : (현재페이지 번호 / 보여줄 페이지 수) * 보여줄 페이지수 + 1
        end : 현재 화명에서 보여줄 마지막 페이지 번호 -->
  <div th:with="start=${(items.number/maxPage)*maxPage + 1},
                  end=(${(items.totalPages == 0) ? 1 :
                  (start + (maxPage - 1) <
                  items.totalPages ? start + (maxPage - 1) :
                  items.totalPages)})" >
    <ul class="pagination justify-content-center">

      <li class="page-item" th:classappend="${items.first}?'disabled'">
        <a th:onclick="'javascript:page(' + ${items.number - 1} + ')'"
           aria-label='Previous' class="page-link">
          <span aria-hidden='true'>Previous</span>
        </a>
      </li>
        <!-- page 객체에서 number 는 현재 페이지를 나타냄
              [[${page}]] : 타임리프에서 html 콘텐츠 영역안에 직접 데이터를 출력할 때 사용
               Page 객체에서 시작페이지는 0부터 해당 페이지를 호출할 때에는 page -1 을 해야함.-->
      <li class="page-item" th:each="page: ${#numbers.sequence(start, end)}"
          th:classappend="${items.number eq page - 1}?'active':''">
        <a th:onclick="'javascript:page(' + ${page - 1} + ')'"
           th:inline="text" class="page-link">[[${page}]]</a>
      </li>

      <li class="page-item" th:classappend="${items.last}?'disabled'">
        <a th:onclick="'javascript:page(' + ${items.number + 1} + ')'"
           aria-label='Next' class="page-link">
          <span aria-hidden='true'>Next</span>
        </a>
      </li>

    </ul>
  </div>

  <div class="form-inline justify-content-center" th:object="${itemSearchDTO}">
    <select th:field="*{searchDateType}" class="form-control" style="width:auto;">
      <option value="all">전체기간</option>
      <option value="1d">1일</option>
      <option value="1w">1주</option>
      <option value="1m">1개월</option>
      <option value="6m">6개월</option>
    </select>
    <select th:field="*{searchSellStatus}" class="form-control" style="width:auto;">
      <option value="">판매상태(전체)</option>
      <option value="SELL">판매</option>
      <option value="SOLD_OUT">품절</option>
    </select>
    <select th:field="*{searchBy}" class="form-control" style="width:auto;">
      <option value="itemNm">상품명</option>
      <option value="createdBy">등록자</option>
    </select>
    <input th:field="*{searchQuery}" type="text" class="form-control"
           placeholder="검색어를 입력해주세요">
    <button id="searchBtn" type="submit" class="btn btn-primary">검색</button>
  </div>
</form>
</div>
</html>