<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout layout:decorate='~{layouts/layout1}'>
<head>
  <meta charset="UTF-8">
  <title>패딩 | etoile</title>
</head>
<th:block layout:fragment="content">
  <body>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js' type="text/javascript"></script>
  <link th:href="@{/css/category/contents.css}" rel="stylesheet" type="text/css">
  <link th:href="@{/css/category/style.css}" rel="stylesheet" type="text/css">
  <link th:href="@{/css/main.css}" rel="stylesheet" type="text/css">
  <script th:src="@{/js/category/category.js}" type="text/javascript"></script>

  <form th:action="@{'/items/' + ${category} + '/' + ${itemFormDTOs.number}}"
        role="form" method="get" th:object="${itemFormDTOs}">

    <div class="cardTitle">
      <p>아우터</p>
    </div>
    <div class="card3">

      <div class="Category-container">
        <div class="dropdownAll">

          <div class="dropdown">
            <button id="categoryBtn1_0">
              <a href=''>전체</a>
            </button>
          </div>

          <div class="dropdown">
            <button id="categoryBtn1_1">
              <a href="/items/패딩/1">패딩</a>
            </button>
          </div>

          <div class="dropdown">
            <button id="categoryBtn2">
              <a href="/items/코트/1">코트</a>
            </button>
          </div>

          <div class="dropdown">
            <button id="categoryBtn3">
              <a href="/items/재킷/1">자켓</a>
            </button>
          </div>

          <div class="dropdown">
            <button id="categoryBtn4">
              <a href="/items/집업/1">집업</a>
            </button>
          </div>

        </div>
      </div>
    </div>

    <div class="card3">
      <div class="alll">
        <th:block th:each="items, status: ${itemFormDTOs.getContent()}"
                  th:if="${items.itemSellStatus != T(com.keduit.shop.constant.ItemSellStatus).STOP_SALE}">
          <div class="saleProduct1">
            <div class="swiper-wrapper"
                 style="transform: translate3d(0px,0px,0px); transition-duration:0ms ; transition-delay:0ms ;">
              <div class="swiper-slide" style="width: 295px; margin-right:20px;">

                <div class="swiper-wrapper"
                     style="transform: translate3d(0px,0px,0px); transition-duration:0ms ; transition-delay:0ms ;">
                  <div class="swiper-slide" style="width: 295px; margin-right:20px;">
                    <!--                    <div>-->
                    <!--                      <div class="ProductImage_1">-->
                    <div class="ProductImage_1_2 wh294-374">
                      <a th:href="'/item/' +${items.id}" th:each="itemImgDTO:${items.itemImgDTOList}">
                        <img th:src="${itemImgDTO.imgUrl}" alt="#">
                      </a>
                    </div>
                    <!--                      </div>-->
                    <div>
                      <a class="text-logo-title" th:href="'/item/' +${items.id}">
                        <strong>[[${items.brandNm}]]</strong>
                      </a>
                      <a class="ProductName txtLine1" th:href="'/item/' +${items.id}">[[${items.itemNm}]]</a>
                      <div class="ProductPrice">
                      <span><span class="ProductPrice_lastprice"
                                  data-th-text="${#numbers.formatInteger(items.price, 3, 'COMMA') + '원'}"></span>
                      <span>   </span>

                      <i class="far fa-heart heart-clickable"></i>

                        <!-- 클릭된 요소의 클래스를 토글하여 아이콘 스타일을 변경하고, 텍스트를 빨간색으로 바꿈, -->
                      <i class="fas fa-shopping-cart"></i>
                        </span>
                      </div>
                      <!--                      </div>-->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </th:block>

      </div>
    </div>

    <div th:with="start=${(item.number/maxPage)*maxPage + 1},
                        end=(${(item.totalPages == 0) ? 1 :
                        (start + (maxPage - 1) < item.totalPages ? start + (maxPage - 1) :
                        item.totalPages)})" class="pagination-container paging">

      <ul class="pagination-list page_bt first">
        <li th:classappend="${item.first} ? 'disabled' : ''" class="pagination-item pagination-item-previous on">
          <!-- 페이지가 0인 경우 클릭 이벤트 제거 및 버튼 비활성화 -->
          <a th:if="${item.number != 0}" th:onclick="'javascript: page(' + (${item.number - 1}) + ')'"
             aria-label='Previous' class="pagination-link">
            <span aria-hidden='true'>Previous</span>
          </a>
          <a th:unless="${item.number != 0}" aria-label='Previous' class="pagination-link disabled">
            <span aria-hidden='true'>Previous</span>
          </a>
        </li>

        <li class="page-item" th:each="page: ${#numbers.sequence(start, end)}"
            th:classappend="${item.number eq page - 1}?'active':''">
          <a th:onclick="'javascript:page(' + ${page - 1} + ')'" th:inline="text"
             class="page-link pagination-link">
            [[${page}]]
          </a>
        </li>

        <li class="page-item page_bt next" th:classappend="${item.last} ? 'disabled' : ''">
          <!-- 페이지가 마지막 페이지인 경우 클릭 이벤트 제거 및 버튼 비활성화 -->
          <a th:if="${!item.last}" th:onclick="'javascript:page(' + (${item.number + 1}) + ')'"
             aria-label='Next' class="page-link pagination-link">
            <span aria-hidden='true'>Next</span>
          </a>
          <a th:if="${item.last}" aria-label='Next' class="page-link pagination-link disabled page_bt last">
            <span aria-hidden='true'>Next</span>
          </a>
        </li>
      </ul>
    </div>

  </form>
  </body>
</th:block>
</html>
