<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout layout:decorate='~{layouts/layout1}'>
<head>
    <meta charset="UTF-8">
    <title>패딩 | etoile</title>
</head>
<th:block layout:fragment="content">
    <body>
    <div class="card3">
        <div class="cardTitle">
            <p>패딩</p>
        </div>
        <div class="Category-container">
            <div class="dropdownAll">
                <div class="dropdown">
                    <button id="categoryBtn1_0"><a href="http://127.0.0.1:5500/dist/Category_menu_Outer.html">전체</a> </button>
                </div>
                <div class="dropdown">
                    <a href='http://127.0.0.1:5500/dist/Category_menu_Padding.html'>
                        <button id="categoryBtn1_1">패딩</button>
                    </a>

                </div>

                <div class="dropdown">
                    <button id="categoryBtn2">코트</button>

                </div>

                <div class="dropdown">
                    <button id="categoryBtn3">
                        <a href="http://127.0.0.1:5500/1/nav+footer/Category_menu_Jaket.html">
                            자켓</a>
                    </button>

                </div>

                <div class="dropdown">
                    <button id="categoryBtn4">집업</button>

                </div>

            </div>

        </div>
    </div>
    </div>

    </nav>

    <!-- partial:index.partial.html -->
    <main class="slides">
        <section class="slide">
            <div class="canvas"></div>
            <div class="plane_container">
                <div class="plane">
                    <img data-sampler="texture0" id="texture0" src="https://product-image.wconcept.co.kr/productimg/image/img0/17/301499617_SU69477.jpg" crossorigin="anonymous" />
                    <img data-sampler="texture1" id="texture1" src="https://product-image.wconcept.co.kr/productimg/image/img0/17/301499617_add1_FY93156.jpg" crossorigin="anonymous" />
                    <img data-sampler="map" id="map" src="https://raw.githubusercontent.com/ivanalbizu/WEBGL-texture-Hover/main/src/img/displacements/01.jpg" crossorigin="anonymous" />
                </div>
                <div class="slide__content">
                    <a class="text-logo-title" href="/item/{itemId}">
                        <strong>NICE CLAUP</strong>
                    </a>
                    <a class="ProductName txtLine1" href="https://www.lfmall.co.kr/app/product/HZPA3F801N2">[PRE-OPEN]03.나이스클럽 퀄팅 패딩 자켓 N241YWDC70
                        블라우스</a>
                    <div class="ProductPrice">
                        <span class="ProductPrice_discount">55%</span>
                        <span class="ProductPrice_Baseprice">549,000</span>
                        <span class="ProductPrice_lastprice">247,050 </span>
                        <i class="far fa-heart heart-clickable"></i>
                        <i class="fas fa-shopping-cart"></i>
                    </div>


                    </a>
                </div>
            </div>
        </section>
        <section class="slide">
            <div class="canvas"></div>
            <div class="plane_container">
                <div class="plane">
                    <img data-sampler="texture0" id="texture0" src="https://product-image.wconcept.co.kr/productimg/image/img0/52/304069352_DB24495.jpg" crossorigin="anonymous" />
                    <img data-sampler="texture1" id="texture1" src="https://product-image.wconcept.co.kr/productimg/image/img0/52/304069352_add1_JO28603.jpg" crossorigin="anonymous" />
                    <img data-sampler="map" id="map" src="https://raw.githubusercontent.com/ivanalbizu/WEBGL-texture-Hover/main/src/img/displacements/02.jpg" crossorigin="anonymous" />
                </div>
                <div class="slide__content">
                    <a class="text-logo-title" href="https://display.wconcept.co.kr/brand/113226">
                        <strong>NICE CLAUP</strong>
                    </a>
                    <a class="ProductName txtLine1" href="https://www.wconcept.co.kr/Product/305697126?entry_channel=women_category&cate_no=001001007&cate_nm=%ED%8C%A8%EB%94%A9&cate_sort=new">[PRE-OPEN]

                        나이스클랍 퍼카라 디테일 패딩점퍼 A241PWD101
                    </a>
                    <div class="ProductPrice">
                        <span class="ProductPrice_discount">55%</span>
                        <span class="ProductPrice_Baseprice">549,000</span>
                        <span class="ProductPrice_lastprice">247,050 </span>
                        <span>   </span>

                        <i class="far fa-heart heart-clickable"></i>
                        <i class="fas fa-shopping-cart"></i>
                        </span>
                    </div>



                </div>

            </div>

            </div>
        </section>
        <section class="slide">
            <div class="canvas"></div>
            <div class="plane_container">
                <div class="plane">
                    <img data-sampler="texture0" id="texture0" src="//product-image.wconcept.co.kr/productimg/image/img0/02/305585402_FY57063.jpg" crossorigin="anonymous" />
                    <img data-sampler="texture1" id="texture1" src="//product-image.wconcept.co.kr/productimg/image/img0/02/305585402_add1_LH87347.jpg?thumbnail=60x80" crossorigin="anonymous" />
                    <img data-sampler="map" id="map" src="https://raw.githubusercontent.com/ivanalbizu/WEBGL-texture-Hover/main/src/img/displacements/03.jpg" crossorigin="anonymous" />
                </div>
                <div class="slide__content">
                    <a class="text-logo-title" href="/2pro/jongw/상세페이지/prodDetail3.html"><strong>KAMJA</strong></a>
                    <a class="ProductName txtLine1" href="https://www.wconcept.co.kr/Product/305585402?entry_channel=women_category&cate_no=001001007&cate_nm=%ED%8C%A8%EB%94%A9&cate_sort=new">FAKE LEATHER CROP GOOSE-DOWN (DARK NAVY)</a>
                    <div class="ProductPrice">

                        <span class="ProductPrice_discount">8%</span>
                        <span class="ProductPrice_Baseprice">400,000</span>
                        <span><span class="ProductPrice_lastprice">365,000 </span>
        <span>   </span>

        <i class="far fa-heart heart-clickable"></i>


        <i class="fas fa-shopping-cart"></i>
     </span>
                    </div>



                </div>

            </div>

            </div>

        </section>
        <section class="slide">
            <div class="canvas"></div>
            <div class="plane_container">
                <div class="plane">
                    <img data-sampler="texture0" id="texture0" src="//product-image.wconcept.co.kr/productimg/image/img0/24/305697124_GG31177.jpg" crossorigin="anonymous" />
                    <img data-sampler="texture1" id="texture1" src="//product-image.wconcept.co.kr/productimg/image/img0/24/305697124_add1_GG47980.jpg?thumbnail=60x80" crossorigin="anonymous" />
                    <img data-sampler="map" id="map" src="https://raw.githubusercontent.com/ivanalbizu/WEBGL-texture-Hover/main/src/img/displacements/05.jpg" crossorigin="anonymous" />
                </div>
                <div class="slide__content">
                    <a class="text-logo-title" href="https://display.wconcept.co.kr/brand/113226">
                        <strong>NICE CLAUP</strong>
                    </a>
                    <a class="ProductName txtLine1" href="https://www.lfmall.co.kr/app/product/HZPA3F801N2">[PRE-OPEN]

                        나이스클랍 폭스퍼 구스롱다운 A241PWDC16</a>
                    <div class="ProductPrice">
                        <span class="ProductPrice_discount">60%</span>
                        <span class="ProductPrice_Baseprice">999,000</span>
                        <span class="ProductPrice_lastprice">399,600 </span>
                        <i class="far fa-heart heart-clickable"></i>
                        <i class="fas fa-shopping-cart"></i>
                    </div>
                </div>
            </div>
        </section>
        <section class="slide">
            <div class="canvas"></div>
            <div class="plane_container">
                <div class="plane">
                    <img data-sampler="texture0" id="texture0" src="//product-image.wconcept.co.kr/productimg/image/img0/22/305697122_NG51774.jpg" crossorigin="anonymous" />
                    <img data-sampler="texture1" id="texture1" src="//product-image.wconcept.co.kr/productimg/image/img0/22/305697122_add1_GG33440.jpg?thumbnail=60x80" crossorigin="anonymous" />
                    <img data-sampler="map" id="map" src="https://raw.githubusercontent.com/ivanalbizu/WEBGL-texture-Hover/main/src/img/displacements/04.jpg" crossorigin="anonymous" />
                </div>
                <div class="slide__content">
                    <a class="text-logo-title" href="https://display.wconcept.co.kr/brand/113226">
                        <strong>NICE CLAUP</strong>
                    </a>
                    <a class="ProductName txtLine1" href="https://www.lfmall.co.kr/app/product/HZPA3F801N2">[PRE-OPEN]

                        02.나이스클랍 폭스퍼 다운베스트 A241PWDC02</a>
                    <div class="ProductPrice">
                        <span class="ProductPrice_discount">60%</span>
                        <span class="ProductPrice_Baseprice">465,000</span>
                        <span class="ProductPrice_lastprice">186,000 </span>
                        <i class="far fa-heart heart-clickable"></i>
                        <i class="fas fa-shopping-cart"></i>
                    </div>
                </div>
            </div>
        </section>
        <section class="slide">
            <div class="canvas"></div>
            <div class="plane_container">
                <div class="plane">
                    <img data-sampler="texture0" id="texture0" src="//product-image.wconcept.co.kr/productimg/image/img0/54/305656854_UJ53978.jpg" crossorigin="anonymous" />
                    <img data-sampler="texture1" id="texture1" src="//product-image.wconcept.co.kr/productimg/image/img0/54/305656854_add1_HM11835.jpg?thumbnail=60x80" crossorigin="anonymous" />
                    <img data-sampler="map" id="map" src="https://raw.githubusercontent.com/ivanalbizu/WEBGL-texture-Hover/main/src/img/displacements/06.jpg" crossorigin="anonymous" />
                </div>
                <div class="slide__content">
                    <a class="text-logo-title" href="https://display.wconcept.co.kr/brand/103439">
                        <strong>SUSUMU</strong>
                    </a>
                    <a class="ProductName txtLine1" href="https://www.wconcept.co.kr/Product/305656854?entry_channel=women_category&cate_no=001001007&cate_nm=%ED%8C%A8%EB%94%A9&cate_sort=new">[한정특가]

                        MUMU DOWN COAT black</a>
                    <div class="ProductPrice">
                        <span class="ProductPrice_discount">35%</span>
                        <span class="ProductPrice_Baseprice">388,000</span>
                        <span class="ProductPrice_lastprice">252,200 </span>
                        <i class="far fa-heart heart-clickable"></i>
                        <i class="fas fa-shopping-cart"></i>
                    </div>
                </div>
            </div>
        </section>
    </main>





    </body>
</th:block>
</html>
