<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout layout:decorate='~{layouts/layout1}'>
<head>
  <meta charset="UTF-8">
  <title>패딩 | etoile</title>
</head>
<th:block layout:fragment="content">
  <body>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js' type="text/javascript"></script>
  <link th:href="@{/css/category/contents.css}" rel="stylesheet" type="text/css">
  <link th:href="@{/css/category/style.css}" rel="stylesheet" type="text/css">
  <script th:src="@{/js/category/category.js}" type="text/javascript"></script>

  <form th:action="@{'/items/' + ${itemFormDTOs.number}}"
        role="form" method="get" th:object="${itemFormDTOs}">

    <div class="card3">
      <div class="cardTitle">
        <p>아우터</p>
      </div>
      <div class="Category-container">
        <div class="dropdownAll">

          <div class="dropdown">
            <button id="categoryBtn1_0">
              <a href='http://127.0.0.1:5500/1/nav+footer/Category_menu_Outer.html'>전체</a>
            </button>
          </div>

          <div class="dropdown">
            <button id="categoryBtn1_1">패딩</button>
          </div>

          <div class="dropdown">
            <button id="categoryBtn2">코트</button>
          </div>

          <div class="dropdown">
            <button id="categoryBtn3">
              <a href="http://127.0.0.1:5500/1/nav+footer/Category_menu_Jaket.html">자켓
              </a>
            </button>
          </div>

          <div class="dropdown">
            <button id="categoryBtn4">집업</button>
          </div>

        </div>
      </div>
    </div>

    <div class="card3">
      <div class="alll">
        <th:block th:each="item, status: ${itemFormDTOs.getContent()}">
          <!--                th:if="${item.itemSellStatus != T(com.keduit.shop.constant.ItemSellStatus).STOP_SALE}">-->
          <div class="saleProduct1">
            <div class="swiper-wrapper"
                 style="transform: translate3d(0px,0px,0px); transition-duration:0ms ; transition-delay:0ms ;">
              <div class="swiper-slide" style="width: 295px; margin-right:20px;">

                <div class="swiper-wrapper"
                     style="transform: translate3d(0px,0px,0px); transition-duration:0ms ; transition-delay:0ms ;">
                  <div class="swiper-slide" style="width: 295px; margin-right:20px;">
                    <!--                    <div>-->
                    <!--                      <div class="ProductImage_1">-->
                    <div class="ProductImage_1_2 wh294-374">
                      <a th:href="'/item/' +${item.id}" th:each="itemImgDTO:${item.itemImgDTOList}">
                        <img th:src="${itemImgDTO.imgUrl}" alt="#">
                      </a>
                    </div>
                    <!--                      </div>-->
                    <div>
                      <a class="text-logo-title" th:href="'/item/' +${item.id}">
                        <strong>[[${item.brandNm}]]</strong>
                      </a>
                      <a class="ProductName txtLine1" th:href="'/item/' +${item.id}">[[${item.itemNm}]]</a>
                      <div class="ProductPrice">

                          <span class="ProductPrice_lastprice"
                                data-th-text="${#numbers.formatInteger(item.price, 3, 'COMMA') + '원'}"></span>
                        <span>   </span>

                        <i class="far fa-heart heart-clickable"></i>

                        <!-- 클릭된 요소의 클래스를 토글하여 아이콘 스타일을 변경하고, 텍스트를 빨간색으로 바꿈, -->
                        <i class="fas fa-shopping-cart"></i>
                      </div>
                      <!--                      </div>-->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div th:with="start=${(items.number/maxPage)*maxPage + 1},
              end=(${(items.totalPages == 0) ? 1 :
              (start + (maxPage - 1) < items.totalPages ? start + (maxPage - 1) :
              items.totalPages)})" class="pagination-container">

            <ul class="pagination-list">
              <li th:classappend="${items.first} ? 'disabled' : ''" class="pagination-item pagination-item-previous">
                <!-- 페이지가 0인 경우 클릭 이벤트 제거 및 버튼 비활성화 -->
                <a th:if="${items.number != 0}" th:onclick="'javascript: page(' + (${items.number - 1}) + ')'"
                   aria-label='Previous' class="pagination-link">
                  <span aria-hidden='true'>Previous</span>
                </a>
                <a th:unless="${items.number != 0}" aria-label='Previous' class="pagination-link disabled">
                  <span aria-hidden='true'>Previous</span>
                </a>
              </li>

              <li class="page-item" th:each="page: ${#numbers.sequence(start, end)}"
                  th:classappend="${items.number eq page - 1}?'active':''">
                <a th:onclick="'javascript:page(' + ${page - 1} + ')'" th:inline="text"
                   class="page-link pagination-link">
                  [[${page}]]
                </a>
              </li>

              <li class="page-item" th:classappend="${items.last} ? 'disabled' : ''">
                <!-- 페이지가 마지막 페이지인 경우 클릭 이벤트 제거 및 버튼 비활성화 -->
                <a th:if="${!items.last}" th:onclick="'javascript:page(' + (${items.number + 1}) + ')'"
                   aria-label='Next' class="page-link pagination-link">
                  <span aria-hidden='true'>Next</span>
                </a>
                <a th:if="${items.last}" aria-label='Next' class="page-link pagination-link disabled">
                  <span aria-hidden='true'>Next</span>
                </a>
              </li>
            </ul>
          </div>
        </th:block>
      </div>
    </div>


<!--    <main class="slides">-->

<!--      <section class="slide">-->
<!--        <div class="canvas"></div>-->
<!--        <div class="plane_container">-->
<!--          <div class="plane">-->
<!--            <img data-sampler="texture0" id="texture0"-->
<!--                 src="//product-image.wconcept.co.kr/productimg/image/img0/02/305585402_FY57063.jpg"-->
<!--                 crossorigin="anonymous"/>-->
<!--            <img data-sampler="texture1" id="texture1"-->
<!--                 src="//product-image.wconcept.co.kr/productimg/image/img0/02/305585402_add1_LH87347.jpg?thumbnail=60x80"-->
<!--                 crossorigin="anonymous"/>-->
<!--            <img data-sampler="map" id="map"-->
<!--                 src="https://raw.githubusercontent.com/ivanalbizu/WEBGL-texture-Hover/main/src/img/displacements/03.jpg"-->
<!--                 crossorigin="anonymous"/>-->
<!--          </div>-->
<!--          <div class="slide__content">-->
<!--            <a class="text-logo-title" href="/2pro/jongw/상세페이지/prodDetail3.html"><strong>KAMJA</strong></a>-->
<!--            <a class="ProductName txtLine1"-->
<!--               href="https://www.wconcept.co.kr/Product/305585402?entry_channel=women_category&cate_no=001001007&cate_nm=%ED%8C%A8%EB%94%A9&cate_sort=new">FAKE-->
<!--              LEATHER CROP GOOSE-DOWN (DARK NAVY)</a>-->
<!--            <div class="ProductPrice">-->

<!--              <span class="ProductPrice_discount">8%</span>-->
<!--              <span class="ProductPrice_Baseprice">400,000</span>-->
<!--              <span><span class="ProductPrice_lastprice">365,000 </span>-->
<!--        <span>   </span>-->

<!--        <i class="far fa-heart heart-clickable"></i>-->

<!--                &lt;!&ndash; 클릭된 요소의 클래스를 토글하여 아이콘 스타일을 변경하고, 텍스트를 빨간색으로 바꿈, &ndash;&gt;-->
<!--        <i class="fas fa-shopping-cart"></i>-->
<!--     </span>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </section>-->
<!--    </main>-->

  </form>
  </body>
</th:block>
</html>
