<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout
      layout:decorate='~{layouts/adminLayout}'>

<div layout:fragment="content">
    <link th:href="@{/css/admin/itemMng.css}" rel="stylesheet" type="text/css">
    <script th:src="@{/js/admin/memberMng.js}" type="text/javascript"></script>
    <!--${items.number} 이부분은 현제 페이지를 나타낸다.? -->
    <form th:action="@{'/members/admin/members/' + ${members.number}}"
          role="form" method="get" th:object="${members}">
        <body>


        <div th:with="start=${(members.number/maxPage)*maxPage + 1},
              end=(${(members.totalPages == 0) ? 1 :
              (start + (maxPage - 1) < members.totalPages ? start + (maxPage - 1) :
              members.totalPages)})" class="pagination-container">

            <ul class="pagination-list">
                <li th:classappend="${members.first}?'disabled':''" class="pagination-item pagination-item-previous">
                    <a th:onclick="'javascript: page('+ ${members.number - 1} + ')'" aria-label='Previous'
                       class="pagination-link">
                        <span aria-hidden='true'>Previous</span>
                    </a>
                </li>

                <li class="page-item" th:each="page: ${#numbers.sequence(start, end)}"
                    th:classappend="${members.number eq page - 1}?'active':''">
                    <a th:onclick="'javascript:page(' + ${page - 1} + ')'" th:inline="text"
                       class="page-link pagination-link">
                        [[${page}]]
                    </a>
                </li>

                <li class="page-item" th:classappend="${members.last}?'disabled':''">
                    <a th:onclick="'javascript:page(' + ${members.number + 1} + ')'" aria-label='Next'
                       class="page-link pagination-link">
                        <span aria-hidden='true'>Next</span>
                    </a>
                </li>
            </ul>
        </div>

        <!--        <div class="search-container" th:object="${adminItemSearchDTO}">-->
        <!--            <select th:field="*{searchDateType}" class="form-control search-select">-->
        <!--                <option value="all">전체기간</option>-->
        <!--                <option value="1d">1일</option>-->
        <!--                <option value="1w">1주</option>-->
        <!--                <option value="1m">1개월</option>-->
        <!--                <option value="6m">6개월</option>-->
        <!--            </select>-->

        <!--            <select th:field="*{level1}" id="level1" class="form-control search-select">-->
        <!--                <option value="null">상위카테고리 선택</option>-->
        <!--                <option value="Top">Top</option>-->
        <!--                <option value="Outer">Outer</option>-->
        <!--                <option value="Pants">Pants</option>-->
        <!--                <option value="Skirt/Dress">Skirt/Dress</option>-->
        <!--                <option value="Shoes">Shoes</option>-->
        <!--            </select>-->

        <!--            <select th:field="*{level2}" id="level2" style="display:none;" class="form-control search-select">-->
        <!--                &lt;!&ndash; 각 상위 카테고리에 따른 하위 카테고리들은 JavaScript에서 동적으로 추가됩니다. &ndash;&gt;-->
        <!--            </select>-->

        <!--            <select th:field="*{searchBy}" class="form-control search-select">-->
        <!--                <option value="itemNm">상품명</option>-->
        <!--                <option value="itemId">상품코드</option>-->
        <!--            </select>-->

        <!--            <select th:field="*{itemSellStatus}" class="form-control search-select">-->
        <!--                <option value="">판매상태(전체)</option>-->
        <!--                <option value="SELL">판매</option>-->
        <!--                <option value="SOLD_OUT">품절</option>-->
        <!--                <option value="STOP_SALE">판매중지</option>-->
        <!--            </select>-->

        <!--            <input th:field="*{searchQuery}" type="text" class="search-input" placeholder="상품명 혹은 상품코드를 입력해주세요">-->
        <!--            <button id="searchBtn" type="submit" class="search-btn">검색</button>-->

        <!--            <div th:text="*{level2}" id="level2value" hidden="hidden"></div>-->
        <!--        </div>-->


        <!-- 상품등록 시작 -->
        <div>
            <div class="search-bar">
                <input type="text" class="inp" placeholder="상품명 혹은 상품코드를 입력하시오">
                <!-- <button type="submit" class="btn icon search"><span>검색</span></button> -->
                <span class="material-symbols-outlined">
        search
      </span>
            </div>
        </div>

        <div class="tableBox">
            <div class="subBox">&emsp;&emsp;&emsp;&emsp;등록된 상품목록 검색 갯수 :&emsp; <p th:text="${members.totalElements}"></p>
            </div>
            <div class="tableContainer">
                <table>
                    <tr class="firstLine">
                        <td>고객코드</td>
                        <td>고객명</td>
                        <td>이메일</td>
                        <td>성별</td>
                        <td>나이</td>
                        <td>회원 등록일</td>
                        <th>소셜 로그인 유무</th>
                    </tr>
                    <tr th:each="members, status: ${members.getContent()}">
                        <!--status: ${items.getContent()} 이부분은 page 처리를 하기위해?-->
                        <td th:text="${members.id}"></td>
                        <td th:text="${members.name}"></td>
                        <td th:text="${members.email}"></td>
                        <td th:text="${members.sex}"></td>
                        <td th:text="${members.age}"></td>
                        <td th:text="${members.regTime}"></td>
                        <td th:text="${members.social}"></td>

                    </tr>
                </table>
            </div>
            <div class="finalButton">
                <form action="">
                    <button>수정하기</button>
                </form>
            </div>
        </div>

        </body>
    </form>
</div>

</html>





