<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout2}">

<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>

<div layout:fragment="content" class="content-mg">
    <h2 class="mb-4">장바구니 목록</h2>
    <table class="table">
        <thead>
        <tr>
            <td>
                <input type="checkbox" id="checkAll" onclick="checkAll()">&nbsp;&nbsp;전체선택
            </td>
            <td>상품정보</td>
            <td>상품금액</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="cartItem : ${cartItems}">
            <!-- 각 데이터가 제대로 바인딩되는지 확인 -->
            <td class="text-center align-middle">
                <input type="checkbox" name="cartChkBox" th:value="${cartItem.cartItemId}"> <!-- 값 확인 -->
            </td>
            <td class="d-flex">
                <div class="repImgDiv align-self-center">
                    <img th:src="${cartItem.imgUrl}" th:alt="${cartItem.itemNm}" class="rounded repImg"> <!-- 이미지 확인 -->
                </div>
                <div class="align-self-center">
                    <span class="fs24 font-weight-bold" th:text="${cartItem.itemNm}"></span> <!-- 상품명 확인 -->
                    <div class="fs18 font-weight-light">
                <span class="input-group mt-2">
                    <span class="align-self-center mr-2" th:id="'price_' + ${cartItem.cartItemId}"
                          th:data-price="${cartItem.price}"
                          th:text="${cartItem.price} + '원'"></span> <!-- 가격 확인 -->
                    <input type="number" name="count" th:id="'count_' + ${cartItem.cartItemId}"
                           th:value="${cartItem.count}" min="1" onchange="changeCount(this)" class="form-control mr-2"> <!-- 수량 확인 -->
                    <button class="close" type="button" aria-label="Close">
                        <span aria-hidden="true" th:data-id="${cartItem.cartItemId}" onclick="deleteCartItem(this)">&times;</span> <!-- 삭제 버튼 확인 -->
                    </button>
                </span>
                    </div>
                </div>
            </td>
            <td class="text-center align-middle">
                <span th:id="'totalPrice_' + ${cartItem.cartItemId}" name="totalPrice" th:text="${cartItem.price * cartItem.count} + '원'"></span> <!-- 총 가격 확인 -->
            </td>
        </tr>
        </tbody>
    </table>
    <h2 class="text-center">
        총 주문 금액 : <span id="orderTotalPrice" class="text-danger">0원</span>
    </h2>
    <div class="text-center mt-3">
        <button type="button" class="btn btn-primary btn-lg" onclick="orders()">주문하기</button>

    </div>
</div>
</html>
