<!DOCTYPE html>
<div class="text">Caption Three</div>

<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout
      layout:decorate='~{layouts/layout1}'>
<div layout:fragment="content">
    <h1>메인 페이지입니다.</h1>




    <th:block th:each="item : ${items}">
        <div>
            <div class="card">
                <a th:href="'/item/' + ${item.id}">

                    <div class="card-body">
                        <h4 class="card-title">[[${item.itemNm}]]</h4>
                        <p class="card-text">[[${item.stockNumber}]]</p>
                        <h3 class="card-title text-danger">[[${item.price}]]원</h3>
                    </div>

                </a>

            </div>

            <!-- Next and previous buttons -->
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>

    </th:block>
</div>


        <div class="card3">
            <div class="cardTitle">
                <p>이달의 신상품</p>
            </div>
            <div class="alll">
                <div class="saleProduct1">
                    <div class="swiper-wrapper" style="transform: translate3d(0px,0px,0px);
   transition-duration:0ms ; transition-delay:0ms ;">


                        <div class="swiper-slide" style="width: 295px; margin-right:20px;">
                            <div>

                                <div class="ProductImage_1">

                                    <div class="ProductImage_1_2 wh294-374">
                                        <img src="//product-image.wconcept.co.kr/productimg/image/img0/70/305585670_KK30620.jpg"

                                             class="ProductImage_hover">


                                        <img
                                                src="//product-image.wconcept.co.kr/productimg/image/img0/70/305585670_add1_RN40532.jpg?thumbnail=60x80"
                                                class="ProductImage_base">

                                        <div></div>
                                    </div>
                                </div>
                                <div>
                                    <a class="text-logo-title" href="/2pro/jongw/상세페이지/prodDetail3.html">
                                        <strong>KAMJA</strong>
                                    </a>
                                    <a class="ProductName txtLine1"
                                       href="/2pro/jongw/상세페이지/prodDetail3.html">V-NECK
                                        ROSE HOODIE</a>
                                    <div class="ProductPrice">

                                        <span class="ProductPrice_lastprice">109,000</span>
                                        <!-- <span i class="fa-regular fa-heart"></i></span>
                                    <i class="fa-solid fa-cart-shopping"></i> -->
                                    </div>

                                </div>
                            </div>
                        </div>
                        <br>
                        <br>
                        <br>


                        <div class="swiper-slide swiper-slide-next" style="width: 295px; margin-right: 20px;">
                            <div>
                                <div class="ProductImage_1">
                                    <div class="ProductImage_1_2 wh294-374"><img
                                            src="https://nimg.lfmall.co.kr/file/product/prd/HZ/2024/320/HZPA4A373I2_01.jpg?1706253425000"

                                            class="ProductImage_hover"><img
                                            src="https://nimg.lfmall.co.kr/file/product/prd/EFMW/2022/320/EFMWXX00175_00.jpg?1686106027000"
                                            class="ProductThumbImage_baseImg__osoIA ProductImage_base">

                                    </div>
                                </div>
                            </div>
                            <a class="text-logo-title"
                               href="https://www.lfmall.co.kr/app/exhibition/brandGroup/19339?brandUrl=19339&productSaleType=3&saleType=3">
                                <strong>OLIVE DES OLIVE</strong>
                            </a><br>
                            <a class="ProductName_product  txtLine1 "
                               href="https://www.lfmall.co.kr/app/product/EFMWXX00175?has_init=Y">크롭 더블 버튼 자켓
                            </a>
                            <div class="ProductPrice">
                                <span class="ProductPrice_discount">5%</span>
                                <span class="ProductPrice_Baseprice">219,000</span>
                                <span class="ProductPrice_lastprice">208,050</span>
                                <!-- <span i class="fa-regular fa-heart"></i></span>
                            <i class="fa-solid fa-cart-shopping"></i> -->
                            </div>
                        </div>
                        <div>
                        </div>
                        <div class="swiper-wrapper" style="transform: translate3d(0px,0px,0px);
          transition-duration:0ms ; transition-delay:0ms ;">


                            <div class="swiper-slide" style="width: 295px; margin-right:20px;">
                                <div>

                                    <div class="ProductImage_1">

                                        <div class="ProductImage_1_2 wh294-374">
                                            <img src="https://nimg.lfmall.co.kr/file/product/prd/HZ/2023/320/HZPA3F801N2_01.jpg?1706163168000"
                                                 class="ProductImage_hover">


                                            <img src="https://nimg.lfmall.co.kr/file/product/prd/HS/2024/320/HSSW4BC12BK_00.jpg?1706170298000"
                                                 class="ProductImage_base">

                                            <div></div>
                                        </div>
                                    </div>
                                    <div>
                                        <a class="text-logo-title"
                                           href="https://www.lfmall.co.kr/app/exhibition/brandGroup/1002?brandUrl=HAZZYS&productSaleType=1&brandId=HS&saleType=1%2C3">
                                            <strong>HAZZYS LADIES</strong>
                                        </a>
                                        <a class="ProductName txtLine1"
                                           href="https://www.lfmall.co.kr/app/product/HSSW4BC12BK">블랙 스트라이프 버튼 장식
                                            반팔 스웨터
                                        </a>
                                        <div class="ProductPrice">
                                            <span class="ProductPrice_discount">14%</span>
                                            <span class="ProductPrice_Baseprice">170,140</span>
                                            <span class="ProductPrice_lastprice">114,480</span>
                                            <!-- <span i class="fa-regular fa-heart"></i></span>
                                        <i class="fa-solid fa-cart-shopping"></i> -->
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide" style="width: 295px; margin-right: 20px;">
                                <div>

                                    <div class="ProductImage_1">

                                        <div class="ProductImage_1_2 wh294-374">
                                            <img src="https://nimg.lfmall.co.kr/file/product/prd/HZ/2023/320/HZPA3F801N2_01.jpg?1706163168000"
                                                 class="ProductImage_hover">


                                            <img src="//product-image.wconcept.co.kr/productimg/image/img0/98/301740098_GG69159.jpg"

                                                 class="ProductImage_base">

                                            <div></div>
                                        </div>
                                    </div>
                                    <div>
                                        <a class="text-logo-title" href="/itemDtl2">
                                            <strong>NOTIA</strong>
                                        </a>
                                        <a class="ProductName txtLine1"
                                           href="/templates/item/itemDtl2.html">RUSTLE BAND PANTS-CREAM
                                        </a>
                                        <div class="ProductPrice">
                                            <span class="ProductPrice_discount">9%</span>
                                            <span class="ProductPrice_Baseprice">438,000</span>
                                            <span class="ProductPrice_lastprice">395,290</span>
                                            <!-- <span i class="fa-regular fa-heart"></i></span>
                                      <i class="fa-solid fa-cart-shopping"></i> -->
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="alll">
                <div class="saleProduct1">
                    <div class="swiper-wrapper" style="transform: translate3d(0px,0px,0px);
   transition-duration:0ms ; transition-delay:0ms ;">


                        <div class="swiper-slide" style="width: 295px; margin-right:20px;">
                            <div>

                                <div class="ProductImage_1">

                                    <div class="ProductImage_1_2 wh294-374">
                                        <img src="https://nimg.lfmall.co.kr/file/product/prd/HZ/2023/320/HZPA3F801N2_01.jpg?1706163168000"
                                             class="ProductImage_hover">


                                        <img
                                                src="https://nimg.lfmall.co.kr/file/product/prd/HS/2024/1500/HSSW4AC11P2_00.jpg?2024-01-15T15:05:02.000+09:00"
                                                class="ProductImage_base">

                                        <div></div>
                                    </div>
                                </div>
                                <div>
                                    <a class="text-logo-title"
                                       href="https://www.lfmall.co.kr/app/exhibition/brandGroup/1002?brandUrl=HAZZYS&productSaleType=1&brandId=HS&saleType=1%2C3">
                                        <strong>HAZZYS LADIES</strong>
                                    </a>
                                    <a class="ProductName txtLine1"
                                       href="https://www.lfmall.co.kr/app/product/HZPA3F801N2">[아이코닉]핑크
                                        베이비 케이블
                                        가디건</a>
                                    <div class="ProductPrice">
                                        <span class="ProductPrice_discount">5%</span>
                                        <span class="ProductPrice_Baseprice">239,000</span>
                                        <span class="ProductPrice_lastprice">227,050</span>
                                        <!-- <span i class="fa-regular fa-heart"></i></span>
                                  <i class="fa-solid fa-cart-shopping"></i> -->
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="swiper-wrapper" style="transform: translate3d(0px,0px,0px);
   transition-duration:0ms ; transition-delay:0ms ;">


                            <div class="swiper-slide" style="width: 295px; margin-right:20px;">
                                <div>

                                    <div class="ProductImage_1">

                                        <div class="ProductImage_1_2 wh294-374">
                                            <img src="https://nimg.lfmall.co.kr/file/product/prd/HZ/2023/320/HZPA3F801N2_01.jpg?1706163168000"
                                                 class="ProductImage_hover">


                                            <img
                                                    src="https://nimg.lfmall.co.kr/file/product/prd/HS/2024/1500/HSSW4AC12BK_00.jpg?2024-01-25T17:10:14.000+09:00"
                                                    class="ProductImage_base">

                                            <div></div>
                                        </div>
                                    </div>
                                    <div>
                                        <a class="text-logo-title"
                                           href="https://www.lfmall.co.kr/app/exhibition/brandGroup/1002?brandUrl=HAZZYS&productSaleType=1&brandId=HS&saleType=1%2C3">
                                            <strong>HAZZYS LADIES</strong>
                                        </a>
                                        <a class="ProductName txtLine1"
                                           href="https://www.lfmall.co.kr/app/product/HSSW4AC12BK">블랙 스트랑
                                            브이넥 가디건</a>
                                        <div class="ProductPrice">
                                            <span class="ProductPrice_discount">19%</span>
                                            <span class="ProductPrice_Baseprice">229,000</span>
                                            <span class="ProductPrice_lastprice">185,490</span>
                                            <!-- <span i class="fa-regular fa-heart"></i></span>
                                      <i class="fa-solid fa-cart-shopping"></i> -->
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="swiper-slide swiper-slide-next" style="width: 295px; margin-right: 20px;">
                                <div>
                                    <div class="ProductImage_1">
                                        <div class="ProductImage_1_2 wh294-374"><img
                                                src="//product-image.wconcept.co.kr/productimg/image/img0/15/301631515_JR89872.jpg"

                                                class="ProductImage_hover"><img
                                                src="//product-image.wconcept.co.kr/productimg/image/img0/15/301631515_JR89872.jpg"

                                                class="ProductImage_base">

                                        </div>
                                    </div>
                                </div>
                                <a class="text-logo-title" href="/2pro/jongw/상세페이지/prodDetail.html">
                                    <strong>NOTIA</strong>
                                    <a class="ProductName_product  txtLine1 "
                                       href="/2pro/jongw/상세페이지/prodDetail.html">OVER
                                        FIT SINGLE LEATHER JACKET</a>
                                    <div class="ProductPrice">
                                        <span class="ProductPrice_discount">5%</span>
                                        <span class="ProductPrice_Baseprice">219,000</span>
                                        <span class="ProductPrice_lastprice">208,050 </span>
                                        <!-- <span i class="fa-regular fa-heart"></i></span>
                                <i class="fa-solid fa-cart-shopping"></i> -->
                                    </div>

                            </div>

                            <div>

                            </div>

                            <div class="swiper-wrapper" style="transform: translate3d(0px,0px,0px);
      transition-duration:0ms ; transition-delay:0ms ;">


                                <div class="swiper-slide" style="width: 295px; margin-right:20px;">
                                    <div>

                                        <div class="ProductImage_1">

                                            <div class="ProductImage_1_2 wh294-374">
                                                <img src="https://nimg.lfmall.co.kr/file/product/prd/HZ/2023/320/HZPA3F801N2_01.jpg?1706163168000"
                                                     class="ProductImage_hover">


                                                <img
                                                        src="https://nimg.lfmall.co.kr/file/product/prd/EFMW/2023/1500/EFMWXX00717_00.jpg?2024-01-25T16:38:51.000+09:00"
                                                        class="ProductImage_base">

                                                <div></div>
                                            </div>
                                        </div>
                                        <div>
                                            <a class="text-logo-title"
                                               href="https://www.lfmall.co.kr/app/exhibition/brandGroup/19339?brandUrl=19339&productSaleType=3&saleType=3">
                                                <strong>OLIVE DES OLIVE</strong></a>
                                            <a class="ProductName txtLine1"
                                               href="https://www.lfmall.co.kr/app/product/EFMWXX00717?has_init=Y">코튼 볼륨
                                                소매
                                                블라우스</a>
                                            <div class="ProductPrice">
                                                <span class="ProductPrice_discount">32%</span>
                                                <span class="ProductPrice_Baseprice">218,000</span>
                                                <span class="ProductPrice_lastprice">148,240 </span>
                                                <!-- <span i class="fa-regular fa-heart"></i></span>
                                          <i class="fa-solid fa-cart-shopping"></i> -->
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>

                        </div>
                    </div>


                </div>

            </div>
        </div>
    </main>

    </body>
</th:block>

</html>