<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout
      layout:decorate='~{layouts/layout1}'>

<head>
    <title>비밀번호 찾기</title>
    <!--<link rel="shortcut icon" type="image/x-icon" th:href="@{image/logo.png}" sizes="16x16">
    <link rel="icon" type="image/x-icon" th:href="@{image/logo.png}" sizes="16x16">-->
</head>
<th:block layout:fragment="css">
    <style>
        .Error{
            color:#bd2130;
        }
    </style>
</th:block>

<div layout:fragment="content">
    <link rel="stylesheet" th:href="@{/css/login.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/css/font.css}" type="text/css">

    <!--일단 안나오니까 스크립트써서 해봄. -->
<script>
    function FindPw__submit(form){
        form.name.value = form.name.value.trim();
        if (form.name.value.length == 0){
            alert('이름을 입력해주세요');
            form.name.focus();
            return;
        }
        form.email.value = form.email.value.trim();
        if (form.email.value.length == 0){
            alert('이메일을 입력해주세요');
            form.email.focus();
            return;
        }
        form.submit();
    }
</script>

    <section id="container">
        <div class="sub_title_wrap">
            <h2 class="sub_title">
                Login
            </h2>
        </div>
        <div class="member_join">
            <div class="join_cont">
                <div class="login_wrap">
                    <form action="/members/doFindLoginPw" role="form"  method="post">
                        <!--                        id="frmLogin"-->
                        <div class="inp_group">
                            <p class="mt20">
                                <label th:for="name">이름</label>
                                <!-- <input type="password" name="password"   class="full_width"
                                        placeholder="8자리 이상 입력해주세요">-->
                                <input type="text" class="form-control" name="name" placeholder="이름을 입력해주세요">
                            </p>
                            <p>
                                <!--custId custPw 4.22 css id 검색 수정-->
                                <label th:for="email">이메일</label>
                                <!--<input type="email" name="email"  class="form-control"
                                       placeholder="이메일을 입력하세요">-->
                                <input type="email" class="form-control" name="email" placeholder="이메일을 입력해주세요">
                                <!--<p th:if="${#fields.hasErrors('itemNm')}" th:errors="*{itemNm}"
                                   class="fieldError">Incorrect data</p>-->
                            </p>

                            <span class="input_button checkbox"><input type="checkbox" name="idSave" id="idSave"
                                                                       value="Y"><label for="idSave">이메일 아이디 저장</label></span>

                            <p th:if="${loginErrorMsg}"
                               th:text="${loginErrorMsg}" class="Error">Incorrect data</p>
                            <br>

                            <!--text(방식):출력해줘/ Incorrect data:그냥 확인차 에러 보이게-->


                        </div>
                        <div class="btn_group">


                            <button class="btn full_width black" th:href="login">
                                로그인
                            </button>
                            <!--csrf:위조방지(시큐리티) parameterName,token 같이 보냄-->
                            <input type="hidden" th:name="${_csrf.parameterName}"
                                   th:value="${_csrf.token}">


                        </div>
                    </form>
                </div>



                <div class="new_join_wrap">

                    <div class="join_sns">
                        <p class="tit_join_sns">SNS계정으로 이용해 보세요.</p>
                        <div class="join_opt">
                            <div class="btn_wrap">
                                <a href="/oauth2/authorization/kakao"
                                   onclick="WCKMember.CertSNS('kk', 'S'); GA4EventPush('login_type_click', '카카오'); AMPLITUDE.ClickLogEvent('click_login_type', 'login_kakao');"
                                   class="btn sns_login ty_kakao"><span>카카오로 시작하기</span></a>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>

    </section>
</div>

<th:block layout:fragment="script">
    <script th:inline="javascript">

    </script>
</th:block>