<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/layout1}">
<head>
    <title>비밀번호 찾기</title>
    <style>
        body {
            min-width: auto;
        }
    </style>
</head>
<body layout:fragment="content">
<link th:href="@{/css/idInquiry.css}" rel="stylesheet" type="text/css">
<div class="popup member ty_unite ps-container ps-theme-default" style="width: 580px;"
     data-ps-id="07c6be70-30ec-74ce-b1dd-abc1bd75ca97">
    <div class="header">
        <h1>비밀번호 찾기</h1>
    </div>
    <div class="body" id="tabmain">
        <input type="hidden" id="FindMainType" value="P">
        <div id="findTagdiv">
            <div class="tab_content content2 active">
                <h2 class="hide">비밀번호 찾기</h2>
                <div class="tab_ctns_wrap ty_certify_method" id="divpwfind">
                    <h3 class="ctns_desc">
                        이메일로 가입한 회원이신 경우 <br>이메일 아이디를 입력해 주세요.
                    </h3>
                    <h4 class="ctns_desc_sub">
                        SNS 간편가입 회원은 <br>로그인 화면에서 가입하신 SNS 로그인을 이용해 주세요.
                    </h4>
                    <div class="bx">
                        <div class="find_pw_ctns">
                            <div class="flex_box ctns_phone">
                                <div class="inputs_phone">
                                        <span class="input_text">
                                            <input type="password" style="display:none">
                                            <input type="tel" pattern="[0-9]{12}" inputmode="tel" maxlength="14" name="phoneNum" value="" class="phoneNum" placeholder="전송받은 인증번호를 입력해 주세요." autofocus="">
                                        </span>
                                </div>
                                <p class="btn_certify">
                                    <button type="button" class="btn_certify_num" id="idsmsnum">인증번호</button>
                                    <input type="hidden" id="certiIdx">
                                </p>
                            </div>
                        </div>
                    </div>
                    <form id="sendEmailForm" action="/members/sendEmail" method="post" onsubmit="return sendEmail()">
                        <label for="memberEmail">이메일:</label>
                        <input type="email" id="memberEmail" name="memberEmail" required>
                        <button type="submit">확인</button>
                    </form>
                    <div class="btn_bottom_wrap">
                        <button type="button" name="button" class="btn full movelogin">SNS 로그인</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="//static.wconcept.co.kr/web/js/wconcept.desktop.min.js?v=411dffd7a8164fcabd4152001f43e01f"></script>
<script src="//static.wconcept.co.kr/web/js/wconcept.desktop.member.min.js?v=411dffd7a8164fcabd4152001f43e01f"></script>
<script src="//static.wconcept.co.kr/web/js/wconcept.desktop.member.findidpw.min.js?v=411dffd7a8164fcabd4152001f43e01f"></script>
<script>
    function sendEmail() {
        var form = document.getElementById("sendEmailForm");
        var email = document.getElementById("memberEmail").value;
        if (email.trim() !== "") {
            form.submit();
            alert("이메일이 전송되었습니다.");
            window.close();
            return true;
        } else {
            alert("이메일을 입력하세요.");
            return false;
        }
    }
</script>
</body>
</html>