<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org"
      xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout layout:decorate='~{layouts/layout1}'>

<head>


        <meta name="_csrf" th:content="${_csrf.token}"/>
        <meta name="_csrf_header" th:content="${_csrf.headerName}"/>


   <th:block layout:fragment="script">
        <script th:inline="javascript">

        </script>
    </th:block>
  <!-- <script>
        $(document).ready(function () {
            alert("테스트 실행되면 나오기");
            $("#sendEmailBtn").click(function (){

                alert("클릭이벤트 시작!!");
                var form = document.getElementById("sendEmailForm"); // 이메일을 전송할 폼 가져오기
                var email = document.getElementById("memberEmail").value; // 이메일 입력란의 값 가져오기
                alert("email+++"+email);
                if (email.trim() !== "") { // 이메일이 입력되었는지 확인
                    // 이메일이 입력되었을 때만 폼 제출
                    var formData = new FormData(form); // 폼 데이터 생성
                    var xhr = new XMLHttpRequest(); // AJAX 요청 생성
                    xhr.open("POST", "/members/findPassword", true); // POST 요청 설정
                    xhr.onload = function () {
                        if (xhr.status === 200) { // 요청이 성공했을 때
                            alert("이메일이 전송되었습니다."); // 알림 메시지 출력
                        } else {
                            alert("이메일 전송에 실패했습니다."); // 전송 실패 메시지 출력
                        }
                    };
                    xhr.send(formData); // AJAX 요청 전송
                } else {
                    alert("이메일을 입력하세요."); // 이메일이 입력되지 않았을 때 알림 메시지 출력
                }
                event.preventDefault(); // 폼의 기본 동작인 페이지 리로드를 막음


            });

        });
    </script>-->
</head>

<!-- HTML body -->
<body>

<!-- Thymeleaf 레이아웃의 내용 -->
<div layout:fragment="content">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>    <!-- 사용자 js 추가 -->

    <script th:src="@{/js/pwInquiry.js}" type="text/javascript"></script>
    <link th:href="@{/css/idInquiry.css}" rel="stylesheet" type="text/css">
    <div class="popup member ty_unite ps-container ps-theme-default" style="width: 580px;"
         data-ps-id="07c6be70-30ec-74ce-b1dd-abc1bd75ca97">
        <!-- 팝업사이즈 고정 width: 580px x height: 870px -->
        <div class="header">
            <h1>비밀번호 찾기</h1>
        </div>
        <div class="body" id="tabmain">
            <input type="hidden" id="FindMainType" value="P">
            <div id="findTagdiv">
                <div class="tab_content content2 active">
                    <h2 class="hide">비밀번호 찾기</h2>
                    <!-- 비밀번호 찾기 : 입력 -->
                    <div class="tab_ctns_wrap ty_certify_method" id="divpwfind">
                        <h3 class="ctns_desc">
                            이메일로 가입한 회원이신 경우 <br>이메일 아이디를 입력해 주세요.
                        </h3>
                        <h4 class="ctns_desc_sub">
                            SNS 간편가입 회원은 <br>로그인 화면에서 가입하신 SNS 로그인을 이용해 주세요.
                        </h4>
                        <div class="bx">
                            <div>
                                <!-- 이메일 입력 폼 -->
                                <form id="sendEmailForm" action="/members/findPassword" method="post">
                                    <label for="memberEmail">이메일:</label>
                                    <input type="email" id="memberEmail" name="memberEmail" required>
                                    <button type="button" id="sendEmailBtn" name="verifyCode" >인증번호</button> <!-- 확인 버튼에 onclick 이벤트 추가 -->
                                </form>
                                <!--인증번호 입력폼-->
                                <form  method="post">

                                    <input type="text" id="#" name="#" required placeholder="인증번호를 입력하세요">
                                </form>
                            </div>
                            <div class="btn_bottom_wrap">
                                <button type="button" name="button" class="btn full movelogin">비밀번호 변경</button>
                            </div>
                        </div>
                    </div>
                    <!-- //비밀번호 찾기 : 입력 -->
                </div>
            </div>
        </div>
    </div>
</div>

<!-- JavaScript 스크립트 -->

</body>
</html>