main{
  display: flex;
  flex-direction: column;

  /* justify-content: center; */
  margin: 20px 200px;
}

dl{
  display: flex;
}
.butBox{
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}
.accountBox{
  border: 1px solid #d9d9d9;
    margin-top: 24px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
h1{
  display: inline-block;
    vertical-align: bottom;
    margin-bottom: -4px;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #111;
    margin-top: 100px;
}
span p {
  font-size: 12px;
  color: #808080;
}
span input{
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  padding: 0 7px;
}

span input:hover{
  background-color: #fafafa;
}
dt{
  width: 200px;
}
dt, dd {
  padding: 21px 0;
  font-size: 15px;
}
#password{
  height: 30px;
  width: 100%;
  position: relative;
  font-size: 15px;
  top: -5px;
}
.butBox button {
  margin: 0;
  padding: 0.5rem 1rem;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 150px;
  border: none;
  border-radius: 4px;
  background-color: rgb(79, 79, 223);
  color: white;
  cursor: pointer;
  }
  .butBox button:hover{
    background-color: rgb(33, 33, 148);
  }
  button:hover{
    background-color: rgb(95, 95, 95);


  }
  .butBox .smbt{
    background-color: white;
    color: #222;
    width: 90px;
    border: 1px solid #d9d9d9;
    margin-right: 10px;
  }
  .butBox .smbt:hover{
    background-color: rgb(197, 192, 192);
  }