<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout
      layout:decorate='~{layouts/mypageLayout}'>

<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<div layout:fragment="content">
    <!--<link th:href="@{/css/mypage/myOrder.css}" rel="stylesheet" type="text/css">-->
    <link th:href="@{/css/mypage/address.css}" rel="stylesheet" type="text/css">

    <script th:src="@{/js/mypage/address.js}" type="text/javascript"></script>

    <div class="mainSection2">
        <div style="display: flex;" class="cont1">
            <h5>배송지 관리</h5>

            <ul class="smallText">
                <li class="smallText">주문 시 기본배송지로 선택된 주소지로 배송됩니다.</li>
                <li class="smallText">반드시 하나의 주소지는 기본배송지로 설정해주세요.</li>
                <li class="smallText">최초로 등록한 주소지는 자동으로 기본배송지로 설정됩니다.</li>
            </ul>
        </div>
        <table class="itemTable">
            <colgroup>
                <col width="10px">
                <col width="80px">
                <col width="230px">
                <col width="230px">
                <col width="230px">
                <col width="80px">
                <col width="80px">
                <col width="50px">
            </colgroup>
            <thead>
            <tr class="firstline2">
                <th></th>
                <th scope="col">우편번호</th>
                <th scope="col">도로명주소</th>
                <th scope="col">지번주소</th>
                <th scope="col">상세주소</th>
                <th scope="col">동</th>
                <th scope="col">기본배송지</th>
                <th scope="col">수정</th>

            </tr>
            <tr th:each="addresses : ${addresses}">
                <th></th>
                <th th:text="${addresses.postcode}"></th>
                <th th:text="${addresses.roadAddress}"></th>
                <th th:text="${addresses.jibunAddress}"></th>
                <th th:text="${addresses.detailAddress}"></th>
                <th th:text="${addresses.extraAddress}"></th>
                <th th:text="${addresses.selectAddress}"></th>
                <td>
                    <button class="round-button" th:onclick="'openModalBtnModify(' + ${addresses.id} + ')'">수정</button>
                </td>
            </tr>

            </thead>
        </table>
        <!-- 모달 버튼 -->
        <br><br>
        <button class="btn1" id="openModalBtn">주소지 등록</button>

        <!-- 모달 -->
        <div id="myModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <!-- 우편번호 입력 폼 -->
                <!--                    <form role="form" method="post" th:object="${addressDTO}">-->
                <input type="hidden" id="id">
                <input type="text" id="postcode" placeholder="우편번호" required>
                <input type="button" onclick="execDaumPostcode()" value="우편번호 찾기"><br>
                <input type="text" id="roadAddress" placeholder="도로명주소" required>
                <input type="text" id="jibunAddress" placeholder="지번주소" required>
                <span id="guide" style="color:#999;display:none"></span>
                <input type="text" id="detailAddress" placeholder="상세주소" required>
                <input type="text" id="extraAddress" placeholder="참고항목">
                <span style="margin: 6px;">기본배송지 설정<input style="margin-left: 10px;" type="checkbox" id="selectAddress"></span>
                <button class="btn1" id="regBtn" onclick="registerAddress(event)">주소 등록</button>
                <button class="btn1" id="modBtn" onclick="modifyAddress(event)" style="display: none;">수정하기</button>

            </div>
        </div>

        <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    </div>
    <div class="mainSection1"></div>

    </form>
</div>
</html>