<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout=http://www.ultraq.net.nz/thymeleaf/layout
      layout:decorate='~{layouts/mypageLayout}'>

<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>

<th:block layout:fragment="script">
    <script th:inline="javascript">
        function cancelOrder(orderId){
            const token = $("meta[name='_csrf']").attr("content");
            const header = $("meta[name='_csrf_header']").attr("content");

            const url="/order/" + orderId + "/cancel";
            const paramData = {orderId : orderId}
            const param = JSON.stringify(paramData);

            $.ajax({
                url: url,
                type: "POST",
                contentType: "application/json",
                data: param,
                beforeSend: function (xhr) {
                    xhr.setRequestHeader(header, token);
                },
                dataType: "json",
                cache: false,
                success: function(result, status){
                    alert("주문이 취소되었습니다");
                    location.href="/orders/" + [[${page}]];
                },
                error: function(jqXHR, status, error){
                    if(jqXHR.status == '401'){
                        alert("로그인 후 이용해주세요.")
                        location.href="/member/login";
                } else {
                    alert(jqXHR.responseText)
                }
            }
        })
     }

    </script>
</th:block>

<div layout:fragment="content">
    <link th:href="@{/css/mypage/myOrder.css}" rel="stylesheet" type="text/css">


    <div class="mainSection2">
        <div class="myPageContainer">

            <div class="dateContainer">
                <button class="lb">최근 1개월</button>
                <button class="button3">01월</button>
                <button class="button3">12월</button>
                <input type="date">
                ~
                <input type="date">
                <button class="lb" style="background: #222">검색</button>
            </div>
        </div>

        <ul class="smallText">
            <li class="smallText">한번에 조회 가능한 기간은 최대 6개월이며 2008년 1월 1일 이후의 주문에 대해서만 조회하실 수 있습니다.</li>
            <li class="smallText">옵션 및 배송지 변경은 주문접수 또는 결제완료 상태일 경우 주문상세조회에서 하실 수 있습니다.</li>
        </ul>

        <table class="itemTable">
            <colgroup>
                <col style="width:30px;">
                <col style="width:108px;">
                <col style="width:326px;">
                <col style="width:90px;">
                <col style="width:100px;">
                <col style="width:90px;">
            </colgroup>
            <thead>
            <tr class="firstline2">
                <th scope="col"><input type="checkbox"></th>
                <th scope="col">일자/주문번호</th>
                <th scope="col">주문상품정보</th>
                <th scope="col">결제금액</th>
                <th scope="col">옵션</th>
                <th scope="col">진행상태</th>
            </tr>
            </thead>
            <tbody>
            <div th:each="order : ${orders.getContent()}">
                <tr>
                    <th><input type="checkbox"></th>
                    <td><span th:text="${order.orderDate}"></span></td>
                    <td>
                        <div th:each="orderItem : ${order.orderItemDTOList}">
                            <div>
                                <img th:src="${orderItem.imgUrl}" class="rounded repImg">
                                <span th:text="${orderItem.itemNm}"></span>
                                <div>
                                    <span th:text="${orderItem.count} + '개'"></span>
                                    <span th:text="${orderItem.size}"></span>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div th:each="orderItem : ${order.orderItemDTOList}">
                            <div>
                                <span th:text="${orderItem.orderPrice} + '원'"></span>
                            </div>
                        </div>
                    </td> <!-- 이 위치에 결제금액에 해당하는 데이터를 출력해야 합니다. -->
                    <td>
                        <div th:each="orderItem : ${order.orderItemDTOList}">
                                <div>
                                    <span th:text="${orderItem.size} + '사이즈'"></span>
                                    <span th:text="${orderItem.count} + '개'"></span>
                                </div>
                        </div>
                    </td>
                    <td>
                        <th:block th:if="${order.orderStatus == T(com.keduit.shop.constant.OrderStatus).ORDER}">
                            <span>order</span>
                        </th:block>
                        <th:block th:if="${order.orderStatus == T(com.keduit.shop.constant.OrderStatus).CANCEL}">
                            <span>cancel</span>
                        </th:block>
                        <th:block th:if="${order.orderStatus == T(com.keduit.shop.constant.OrderStatus).RETURN_REQUEST}">
                            <span>return request</span>
                        </th:block>
                        <th:block th:if="${order.orderStatus == T(com.keduit.shop.constant.OrderStatus).RETURN_COMPLETED}">
                            <span>return completed</span>
                        </th:block>
                        <th:block th:if="${order.orderStatus == T(com.keduit.shop.constant.OrderStatus).DELIVERING}">
                            <span>delivering</span>
                        </th:block>
                        <th:block th:if="${order.orderStatus == T(com.keduit.shop.constant.OrderStatus).DELIVERED}">
                            <span>delivered</span>
                        </th:block>
                    </td>



                </tr>
            </div>
            </tbody>
        </table>
        <div class="buttons">
            <button>배송조회</button>
            <button>교환, 반품 신청</button>
            <button>리뷰 작성</button>

        </div>
        <div class="imgBox">
            <img src="/image/deliveryInform.png" alt="deliveryInform" class="lastimg">
        </div>
    </div>


    <div class="mainSection1"></div>


</div>
</html>