<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/mypageLayout}">

<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>

<th:block layout:fragment="script">
    <script th:inline="javascript">
        function toggleAllOrders() {
            const isChecked = document.getElementById("checkAllOrders").checked;
            const orderCheckboxes = document.getElementsByName("orderChkBox");
            orderCheckboxes.forEach(checkbox => checkbox.checked = isChecked);
        }

        function cancelOrder() {
            const selectedOrderIds = Array.from(document.querySelectorAll('input[name="orderChkBox"]:checked')).filter(checkbox => {
                const orderRow = checkbox.closest('tr');
                return orderRow.getAttribute('data-order-status') === 'ORDER'; // 'ORDER' 상태인 것만 선택
            }).map(checkbox => checkbox.value);

            if (selectedOrderIds.length === 0) {
                alert('주문 상태가 "ORDER"인 상품을 선택하세요.');
                return;
            }

            if (!confirm("선택한 주문을 취소하시겠습니까?")) {
                return;
            }

            const token = $("meta[name='_csrf']").attr("content");
            const header = $("meta[name='_csrf_header']").attr("content");

            // AJAX 요청들을 배열로 저장합니다.
            const ajaxRequests = selectedOrderIds.map(orderId => {
                const url = `/order/${orderId}/cancel`;
                return $.ajax({
                    url: url,
                    type: "POST",
                    beforeSend: function(xhr) {
                        xhr.setRequestHeader(header, token);
                    },
                    success: function() {
                        console.log(`Order ${orderId} canceled.`);
                    },
                    error: function(jqXHR) {
                        if (jqXHR.status === 401) {
                            alert("로그인 후 이용해주세요.");
                            location.href = "/member/login";
                        } else {
                            alert(jqXHR.responseText);
                        }
                    }
                });
            });

            // 모든 AJAX 요청이 끝날 때까지 기다렸다가 페이지를 새로고침합니다.
            $.when.apply($, ajaxRequests).then(function() {
                alert("주문을 취소하였습니다.");  // 모든 요청이 끝난 후 알림 표시
                location.reload();  // 알림 이후 페이지 새로고침
            });
        }

        function openModal() {
    const selectedOrderIds = Array.from(document.querySelectorAll('input[name="orderChkBox"]:checked')).map(checkbox => checkbox.value);

    if (selectedOrderIds.length === 0) {
        alert("주문을 선택하세요.");
        return;
    }

    const orderStatuses = selectedOrderIds.map(orderId => {
        const orderRow = document.querySelector(`input[name="orderChkBox"][value="${orderId}"]`).closest('tr');
        return orderRow.getAttribute('data-order-status');
    });

    if (orderStatuses.every(status => status === 'DELIVERED')) {
        document.getElementById('exchangeReturnModal').style.display = 'block';
    } else {
        alert('선택한 주문 중 일부 또는 모든 주문의 상태가 "DELIVERED"가 아닙니다. 교환/반품 신청할 수 없습니다.');
    }
}

        function closeModal() {
            document.getElementById('exchangeReturnModal').style.display = 'none';
        }

        function submitExchangeReturnRequest() {
            const requestType = document.getElementById('requestType').value;
            const reason = document.getElementById('reason').value;
            const selectedOrderIds = Array.from(document.querySelectorAll('input[name="orderChkBox"]:checked')).map(checkbox => checkbox.value);

            if (selectedOrderIds.length === 0) {
                alert("주문을 선택하세요.");
                return;
            }

            if (reason === '') {
                alert("사유를 입력하세요.");
                return;
            }

            const token = $("meta[name='_csrf']").attr("content");
            const header = $("meta[name='_csrf_header']").attr("content");

            $.ajax({
                url: '/exchange-return-request',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({orderIds: selectedOrderIds, requestType, reason}),
                beforeSend: function(xhr) {
                    xhr.setRequestHeader(header, token);
                },
                success: function() {
                    alert("요청이 저장되었습니다.");
                    location.reload();
                },
                error: function(jqXHR) {
                    alert(jqXHR.responseText);
                }
            });

            closeModal();
        }
    </script>
</th:block>

<div layout:fragment="content">
    <link th:href="@{/css/mypage/myOrder.css}" rel="stylesheet" type="text/css">

    <div class="mainSection2">
        <div class="myPageContainer">
            <div class="dateContainer">
                <button class="lb">최근 1개월</button>
                <button class="button3">01월</button>
                <button class="button3">12월</button>
                <input type="date">
                ~
                <input type="date">
                <button class="lb" style="background: #222">검색</button>
            </div>
        </div>

        <ul class="smallText">
            <li class="smallText">한 번에 조회 가능한 기간은 최대 6개월이며, 2008년 1월 1일 이후의 주문만 조회하실 수 있습니다.</li>
            <li class="smallText">옵션 및 배송지 변경은 '주문접수' 또는 '결제완료' 상태일 때만 주문 상세 조회에서 할 수 있습니다.</li>
        </ul>

        <table class="itemTable">
            <colgroup>
                <col style="width:30px;">
                <col style="width:108px;">
                <col style="width:326px;">
                <col style="width:90px;">
                <col style="width:100px;">
                <col style="width:90px;">
            </colgroup>
            <thead>
            <tr class="firstline2">
                <th scope="col"><input type="checkbox" id="checkAllOrders" onclick="toggleAllOrders()"></th>
                <th scope="col">주문일자</th>
                <th scope="col">주문상품정보</th>
                <th scope="col">결제금액</th>
                <th scope="col">옵션</th>
                <th scope="col">진행상태</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="order : ${orders.getContent()}" th:data-order-status="${order.orderStatus}">
                <th><input type="checkbox" name="orderChkBox" th:value="${order.orderId}"></th>
                <td><span th:text="${order.orderDate}"></span></td>
                <td>
                    <div th:each="orderItem : ${order.orderItemDTOList}">
                        <div th:text="${orderItem.itemNm}">
                        </div>
                    </div>
                </td>
                <td>
                    <div th:each="orderItem : ${order.orderItemDTOList}">
                        <div>
                            <span th:text="${orderItem.orderPrice} + '원'"></span>
                        </div>
                    </div>
                </td>
                <td>
                    <div th:each="orderItem : ${order.orderItemDTOList}">
                        <div>
                            <span th:text="${orderItem.size} + '사이즈'"></span>
                            <span th:text="${orderItem.count} + '개'"></span>
                        </div>
                    </div>
                </td>
                <td>
                    <th:block th:if="${order.orderStatus == T(com.keduit.shop.constant.OrderStatus).ORDER}">
                        <span>order</span>
                    </th:block>
                    <th:block th:if="${order.orderStatus == T(com.keduit.shop.constant.OrderStatus).CANCEL}">
                        <span>cancel</span>
                    </th:block>
                    <th:block th:if="${order.orderStatus == T(com.keduit.shop.constant.OrderStatus).RETURN_REQUEST}">
                        <span>return request</span>
                    </th:block>
                    <th:block th:if="${order.orderStatus == T(com.keduit.shop.constant.OrderStatus).RETURN_COMPLETED}">
                        <span>return completed</span>
                    </th:block>
                    <th:block th:if="${order.orderStatus == T(com.keduit.shop.constant.OrderStatus).DELIVERING}">
                        <span>delivering</span>
                    </th:block>
                    <th:block th:if="${order.orderStatus == T(com.keduit.shop.constant.OrderStatus).DELIVERED}">
                        <span>delivered</span>
                    </th:block>
                </td>
            </tr>
            </tbody>
        </table>

        <!-- 교환/반품 신청 모달창 -->
        <div id="exchangeReturnModal" style="display:none; position:fixed; top:50%; left:50%; transform:translate(-50%,-50%); background:#fff; padding:20px; border:1px solid #ccc;">
            <h3>교환/반품 신청</h3>
            <label for="requestType">신청 유형:</label>
            <select id="requestType">
                <option value="exchange">교환</option>
                <option value="return">반품</option>
            </select>
            <br><br>
            <label for="reason">사유:</label>
            <textarea id="reason" rows="4" cols="50" placeholder="사유를 입력하세요."></textarea>
            <br><br>
            <button onclick="submitExchangeReturnRequest()">저장</button>
            <button onclick="closeModal()">닫기</button>
        </div>

        <div class="buttons">
            <button>배송조회</button>
            <button onclick="openModal()">교환/반품 신청</button>
            <button>리뷰 작성</button>
            <button onclick="cancelOrder()">주문 취소</button>
        </div>

        <div class="imgBox">
            <img src="/image/deliveryInform.png" alt="deliveryInform" class="lastimg">
        </div>
    </div>

    <div class="mainSection1"></div>
</div>

</html>
