<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" xmlns="http://www.w3.org/1999/html">
<!---->

<div th:fragment="adminSidebar">
    <body>
    <div class="sidenav">
        <div class="mainPageA">
            <a href="managerMain.html">
<!--                <img src="로고.png" alt="" style="width: 60px; width: 120px; position: relative; left: -15px;">-->
            </a>
        </div>
        <button class="dropdown-btn">상품 관리
        </button>
        <div class="dropdown-container">
            <a href="/admin/item/new">상품 등록</a>
            <a href="/admin/items">상품 조회/수정</a>
        </div>
        <button class="dropdown-btn">주문/배송
        </button>
        <div class="dropdown-container">
            <a href="shipping.html">배송 관리</a>
            <!-- <a href="#">반품/교환 관리</a> -->
        </div>
        <button class="dropdown-btn">고객 관리
        </button>
        <div class="dropdown-container">
            <a href="managerCs.html">고객 문의</a>
             <a href="/admin/members">고객 목록</a>
        </div>
        <button class="dropdown-btn">판매자 정보
        </button>
        <div class="dropdown-container">
            <a href="/2pro/managerAll/account_pwCheck.html">계정정보</a>
            <a href="account_ChangePw.html">비밀번호 수정</a>
        </div>
    </div>
    </body>
     메뉴판 끝
</div>


</html>