<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org">
<div class="footer" th:fragment="footer">
    <footer id="footerType" class="footer__wrap footersection gmarket gray">
        <h2 class="ir_so">푸터 영역</h2>
        <div class="footer__inner footerContainer">
            <div class="footer__logo">
                <h3>Webstoryboy</h3>
                <p>
                    안녕하세요!<br>
                    문의사항은 메일로 부탁드립니다.<br>
                    <a href="mailto:webstoryboy@naver.com">webstoryboy@naver.com</a>
                </p>
                <div class="sns">
                    <ul>
                        <li><a href="#"><span class="ir_pm">페이스북</span></a></li>
                        <li><a href="#"><span class="ir_pm">인스타</span></a></li>
                        <li><a href="#"><span class="ir_pm">유튜브</span></a></li>
                        <li><a href="#"><span class="ir_pm">깃헙</span></a></li>
                        <li><a href="#"><span class="ir_pm">디스코드</span></a></li>
                    </ul>
                </div>
            </div>
            <div class="footer__menu">
                <div>
                    <h3>레이아웃 영역</h3>
                    <ul>
                        <li><a href="#">레이아웃 유형01</a></li>
                        <li><a href="#">레이아웃 유형02</a></li>
                        <li><a href="#">레이아웃 유형03</a></li>
                        <li><a href="#">레이아웃 유형04</a></li>
                        <li><a href="#">레이아웃 유형05</a></li>
                    </ul>
                </div>
                <div>
                    <h3>메인 영역</h3>
                    <ul>
                        <li><a href="#">이미지 유형01</a></li>
                        <li><a href="#">동영상 유형02</a></li>
                        <li><a href="#">슬라이드 유형03</a></li>
                    </ul>
                </div>
                <div>
                    <h3>컨텐츠 영역</h3>
                    <ul>
                        <li><a href="#">텍스트 유형01</a></li>
                        <li><a href="#">이미지 유형02</a></li>
                        <li><a href="#">이미지/텍스트03</a></li>
                        <li><a href="#">카드 유형04</a></li>
                        <li><a href="#">배너 유형05</a></li>
                    </ul>
                </div>
                <div>
                    <h3>푸터 영역</h3>
                    <ul>
                        <li><a href="#">컨택트 유형01</a></li>
                        <li><a href="#">푸터 유형02</a></li>
                    </ul>
                </div>
                <div>
                    <h3>사이트 영역</h3>
                    <ul>
                        <li><a href="#">웹표준 사이트</a></li>
                        <li><a href="#">반응형 사이트</a></li>
                        <li><a href="#">패럴랙스 사이트</a></li>
                        <li><a href="#">포트폴리오 사이트</a></li>
                    </ul>
                </div>
            </div>
            <address class="footer__right">
                ©2022 webstroyboy. All rights reserved.
            </address>
        </div>
    </footer>

</div>
</html>