<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<div th:fragment="header">

    <nav>
        <div class="top-area">
            <div class="top-areaInner">
                <a href="#">★SALE EVENT★</a>
            </div>
        </div>
        <div class="container1">
            <div class="section">
                <a href="/">
                    <img src="/image/logo.png"
                         alt="logo" style="width: 60px; width: 120px;">
                </a>
            </div>
            <div class="section2">
                <div class="search-bar">
                    <input type="text" class="inp" placeholder="">

                    <i class="fas fa-search search-icon" id="searchIcon"></i>

                </div>
                <i class="fas fa-search search-icon searchIcon123" id="searchIcon2"></i>
                <input type="text" id="searchInput" placeholder="Search here..." style="display: none;">
            </div>

            <div class="section" id="icon-box">
                <li sec:authorize="isAuthenticated()">
                    <a href="/members/logout">
                        <span class="material-symbols-outlined">logout</span>
                    </a>
                </li>

                <a href="/members/login" sec:authorize="isAnonymous()">
                        <span class="material-symbols-outlined">
                          login
                        </span>
                </a>

                <a href="/members/new" sec:authorize="isAnonymous()">
                    <span class="material-symbols-outlined">
                      person_add
                    </span>
                </a>

                <a href="/mypage/myOrder">
        <span class="material-symbols-outlined">
          person
        </span>
                </a>

                <a href="/cart">
        <span class="material-symbols-outlined">
          shopping_bag
        </span>
                </a>
                <nav>
                    <div class="center-align relative">
                        <div id="search-ranking">
                            <div>
                                <span id="rank-number">1</span>
                                <span id="rank-title">제로초</span>
                            </div>
                            <!-- 실시간 급상승 추가 -->
                            <div id="real-time-rankings">
                                <ul style="position: absolute; top: -15px; right: 0;">
                                    <h1>Search Rank</h1>
                                    <table border="1">
                                        <thead>

                                        <tr>
                                            <th>순위</th>
                                            <th>인기검색어</th>
                                        </tr>
                                        </thead>

                                        <tbody id="tableBody">
                                        </tbody>
                                    </table>
                                    <div id="z-example">
                                        <div id="z-inner"></div>
                                    </div>
                                </ul>
                            </div>
                        </div>
                    </div>
                </nav>

            </div>
        </div>
        <div class="Category-container">
            <div class="dropdownAll">
                <div class="dropdown" id="phoneBt">
                    <button id="mainCategoryBtn">메인 카테고리</button>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="">Top</a>
                            <ul class="sub-dropdown-menu">
                                <li><a href="#">블라우스</a></li>
                                <li><a href="#">셔츠</a></li>
                                <li><a href="#">맨투맨/후드</a></li>
                                <li style="padding-bottom: 80px;"><a href="#">니트/스웨터</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Outer</a>
                            <ul class="sub-dropdown-menu">
                                <li><a href="/categoryPadding">패딩</a></li>
                                <li><a href="/2pro/hyo/hyoju/Category_menu_Outer.html">코트</a></li>
                                <li><a href="/2pro/hyo/hyoju/Category_menu_Jaket.html">재킷</a></li>
                                <li style="padding-bottom: 80px;"><a href="#">집업</a></li>

                            </ul>
                        </li>
                        <li>
                            <a href="#">Pants</a>
                            <ul class="sub-dropdown-menu">
                                <li><a href="#">슬랙스</a></li>
                                <li><a href="#">청바지</a></li>
                                <li style="padding-bottom: 80px;"><a href="#">트레이닝/레깅스</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Skirt/Dress</a>
                            <ul class="sub-dropdown-menu">
                                <li><a href="#">미니</a></li>
                                <li><a href="#">미디</a></li>
                                <li style="padding-bottom: 95px;"><a href="#">롱</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Shoes</a>
                            <ul class="sub-dropdown-menu">
                                <li><a href="#">부츠</a></li>
                                <li><a href="#">힐/로퍼</a></li>
                                <li><a href="#">운동화</a></li>
                                <li style="padding-bottom: 80px;"><a href="#">슬리퍼</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="dropdown" id="pcBt">
                    <button id="categoryBtn1">Top</button>
                    <ul class="dropdown-menu">
                        <li><a href="#">블라우스</a></li>
                        <li><a href="#">셔츠</a></li>
                        <li><a href="#">맨투맨/후드</a></li>
                        <li><a href="#">니트/스웨터</a></li>
                    </ul>
                </div>

                <div class="dropdown" id="pcBt">
                    <button id="categoryBtn2">Outer</button>
                    <ul class="dropdown-menu">
                        <li><a href="/categoryPadding">패딩</a></li>
                        <li><a href="/2pro/hyo/hyoju/Category_menu_Outer.html">코트</a></li>
                        <li><a href="/2pro/hyo/hyoju/Category_menu_Jaket.html">재킷</a></li>
                        <li><a href="#">집업</a></li>
                    </ul>
                </div>

                <div class="dropdown" id="pcBt">
                    <button id="categoryBtn3">Pants</button>
                    <ul class="dropdown-menu">
                        <li><a href="#">슬랙스</a></li>
                        <li><a href="#">청바지</a></li>
                        <li><a href="#">트레이닝/레깅스</a></li>
                    </ul>
                </div>

                <div class="dropdown" id="pcBtn">
                    <button id="categoryBtn4">Skirt/Dress</button>
                    <ul class="dropdown-menu">
                        <li><a href="#">미니</a></li>
                        <li><a href="#">미디</a></li>
                        <li><a href="#">롱</a></li>
                    </ul>
                </div>

                <div class="dropdown" id="pcBt">
                    <button id="categoryBtn5">Shoes</button>
                    <ul class="dropdown-menu">
                        <li><a href="#">부츠</a></li>
                        <li><a href="#">힐/로퍼</a></li>
                        <li><a href="#">운동화</a></li>
                        <li><a href="#">슬리퍼</a></li>
                    </ul>
                </div>
            </div>
            <div class="links">
                <a href="#">NEW</a>
                <a href="#">RANK</a>
                <a href="#">SALE</a>
            </div>
        </div>
    </nav>
</div>
</html>