<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:fragment="header">

    <nav>
        <div class="top-area">
            <div class="top-areaInner">
                <a href="#">★SALE EVENT★</a>
            </div>
        </div>
        <div class="container1">
            <div class="section">
                <a href="/">
                    <img src="/image/logo.png"
                         alt="logo" style="width: 60px; width: 120px;">
                </a>
            </div>
            <div class="section2">
                <div class="search-bar">
                    <input type="text" id="inp" class="inp" placeholder="상품명을 입력해주세요.">

                    <i class="fas fa-search search-icon" id="searchIcon" onclick="itemNmSearch()"></i>

                </div>
                <i class="fas fa-search search-icon searchIcon123" id="searchIcon2"></i>
                <input type="text" id="searchInput" placeholder="Search here..." style="display: none;">
            </div>
            <nav>
                <div class="center-align relative">
                    <div id="search-ranking">
                        <table>
                            <tbody>
                            <!-- 반복문을 통해 데이터를 테이블에 표시 -->

                            </tbody>
                        </table>
                        <div>
                            <span id="rank-number">1</span>
                            <span id="rank-title">제로초</span>
                        </div>

                        <!-- 실시간 급상승 추가 -->
                        <div id="real-time-rankings">
                            <ul style="posiotion: absolute; top: -15px;right: 0;">

                                <h1>Search Rank</h1>

                                {% for row in data %}


                                <table border="1">
                                    <thead>
                                    <tr>
                                        <th>순위</th>
                                        <th>인기검색어</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                    <tr th:each="searchRank : ${searchRankList}">
                                        <td th:text="${searchRank.number}"></td>
                                        <td th:text="${searchRank.keyword}"></td>
                                    </tr>
                                    </tbody>
                                    {% endfor %}
                                </table>
                            </ul>
                            <div id="z-example">
                                <div id="z-inner"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            <div class="section" id="icon-box">
                <li sec:authorize="isAuthenticated()">
                    <a href="/members/logout">
                        <span class="material-symbols-outlined">logout</span>
                    </a>
                </li>

                <li sec:authorize="isAnonymous()">
                    <a href="/members/login">
                        <span class="material-symbols-outlined">
                          login
                        </span>
                    </a>
                </li>

                <a href="/members/new">
                    <span class="material-symbols-outlined" style="margin-left:10px;">
                      person_add
                    </span>
                </a>

                <a href="/mypage/myOrder">
        <span class="material-symbols-outlined">
          person
        </span>
                </a>

                <a href="/cart">
        <span class="material-symbols-outlined">
          shopping_bag
        </span>
                </a>


            </div>
        </div>
        <div class="Category-container">
            <div class="dropdownAll">
                <div class="dropdown" id="phoneBt">
                    <button id="mainCategoryBtn">메인 카테고리</button>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#">Top</a>
                            <ul class="sub-dropdown-menu">
                                <li><p>블라우스</p></li>
                                <li><p>셔츠</p></li>
                                <li><p>맨투맨/후드</p></li>
                                <li style="padding-bottom: 80px;"><p>니트/스웨터</p></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Outer</a>
                            <ul class="sub-dropdown-menu">
                                <li><p href="/categoryPadding">패딩</p></li>
                                <li><p href="/2pro/hyo/hyoju/Category_menu_Outer.html">코트</p></li>
                                <li><p href="/2pro/hyo/hyoju/Category_menu_Jaket.html">재킷</p></li>
                                <li style="padding-bottom: 80px;"><p href="#">집업</p></li>

                            </ul>
                        </li>
                        <li>
                            <a href="#">Pants</a>
                            <ul class="sub-dropdown-menu">
                                <li><p href="#">슬랙스</p></li>
                                <li><p href="#">청바지</p></li>
                                <li style="padding-bottom: 80px;"><p href="#">트레이닝/레깅스</p></li>
                            </ul>
                        </li>
                        <li>
                            <p href="#">Skirt/Dress</p>
                            <ul class="sub-dropdown-menu">
                                <li><p href="#">미니</p></li>
                                <li><p href="#">미디</p></li>
                                <li style="padding-bottom: 95px;"><p href="#">롱</p></li>
                            </ul>
                        </li>
                        <li>
                            <p href="#">Shoes</p>
                            <ul class="sub-dropdown-menu">
                                <li><p href="#">부츠</p></li>
                                <li><p href="#">힐/로퍼</p></li>
                                <li><p href="#">운동화</p></li>
                                <li style="padding-bottom: 80px;"><p href="#">슬리퍼</p></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="dropdown" id="pcBt">
                    <button onclick="itemsPage(this)" type="button" id="categoryBtn1">Top</button>
                    <ul class="dropdown-menu">
                        <li><p onclick="itemsPage(this)" >블라우스</p></li>
                        <li><p onclick="itemsPage(this)">셔츠</p></li>
                        <li><p onclick="itemsPage(this)" >맨투맨/후드</p></li>
                        <li><p onclick="itemsPage(this)" >니트/스웨터</p></li>
                    </ul>
                </div>

                <div class="dropdown" id="pcBt">
                    <button onclick="itemsPage(this)" type="button" id="categoryBtn2">Outer</button>
                    <ul class="dropdown-menu">
                        <li><p onclick="itemsPage(this)">패딩</p></li>
                        <li><p onclick="itemsPage(this)">코트</p></li>
                        <li><p onclick="itemsPage(this)">재킷</p></li>
                        <li><p onclick="itemsPage(this)">집업</p></li>
                    </ul>
                </div>

                <div class="dropdown" id="pcBt">
                    <button onclick="itemsPage(this)" type="button" id="categoryBtn3">Pants</button>
                    <ul class="dropdown-menu">
                        <li><p onclick="itemsPage(this)">슬랙스</p></li>
                        <li><p onclick="itemsPage(this)">청바지</p></li>
                        <li><p onclick="itemsPage(this)">트레이닝/레깅스</p></li>
                    </ul>
                </div>

                <div class="dropdown" id="pcBtn">
                    <button onclick="itemsPage(this)" type="button" id="categoryBtn4">Skirt/Dress</button>
                    <ul class="dropdown-menu">
                        <li><p onclick="itemsPage(this)">미니</p></li>
                        <li><p onclick="itemsPage(this)">미디</p></li>
                        <li><p onclick="itemsPage(this)">롱</p></li>
                    </ul>
                </div>

                <div class="dropdown" id="pcBt">
                    <button onclick="itemsPage(this)" type="button" id="categoryBtn5">Shoes</button>
                    <ul class="dropdown-menu">
                        <li><p onclick="itemsPage(this)">부츠</p></li>
                        <li><p onclick="itemsPage(this)">힐/로퍼</p></li>
                        <li><p onclick="itemsPage(this)">운동화</p></li>
                        <li><p onclick="itemsPage(this)">슬리퍼</p></li>
                    </ul>
                </div>
            </div>
            <div class="links">
                <a href="/items?level=&saleItems=&searchBy=itemNm&searchQuery=">NEW</a>

                <a href="/items?level=&saleItems=saleItems&searchBy=itemNm&searchQuery=">SALE</a>
                <a href="/items/rank">RANK</a>
            </div>
        </div>
    </nav>
</div>
</html>