<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org"
                xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:fragment="header">

    <nav>
        <div class="top-area">
            <div class="top-areaInner">
                <a href="#">★SALE EVENT★</a>
            </div>
        </div>
        <div class="container1">
            <div class="section">
                <a href="/2pro/hyo/hyo/main.html">
                    <img src="/2pro/myPage/로고2.png" alt="" style="width: 60px; width: 120px;">
                </a>
            </div>
            <div class="section2">
                <div class="search-bar">
                    <input type="text" class="inp" placeholder="">

                    <i class="fas fa-search search-icon" id="searchIcon"></i>

                </div>
                <i class="fas fa-search search-icon searchIcon123" id="searchIcon2"></i>
                <input type="text" id="searchInput" placeholder="Search here..." style="display: none;">
            </div>
            <div class="section" id="icon-box">
                <a href="/2pro/project02_OIO/join.html">
        <span class="material-symbols-outlined">
          person_add
        </span>
                </a>
                <a href="/2pro/project02_OIO/login.html">
        <span class="material-symbols-outlined">
          login
        </span>
                </a>
                <a href="/2pro/myPage/myPageMain.html">
        <span class="material-symbols-outlined">
          person
        </span>
                </a>
                <a href="/2pro/hyo/hyo/cart.html">
        <span class="material-symbols-outlined">
          shopping_bag
        </span>
                </a>
            </div>
        </div>
        <!--ds-->
        </li>
                                <li><a href="#">맨투맨/후드</a></li>
                                <li style="padding-bottom: 80px;"><a href="#">니트/스웨터</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Outer</a>
                            <ul class="sub-dropdown-menu">
                                <li><a href="/2pro/hyo/hyoju/Category_menu_Padding.html">패딩</a></li>
                                <li><a href="/2pro/hyo/hyoju/Category_menu_Outer.html">코트</a></li>
                                <li><a href="/2pro/hyo/hyoju/Category_menu_Jaket.html">재킷</a></li>
                                <li style="padding-bottom: 80px;"><a href="#">집업</a></li>

                            </ul>
                        </li>
                        <li>
                            <a href="#">Pants</a>
                            <ul class="sub-dropdown-menu">
                                <li><a href="#">슬랙스</a></li>
                                <li><a href="#">청바지</a></li>
                                <li style="padding-bottom: 80px;"><a href="#">트레이닝/레깅스</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Skirt/Dress</a>
                            <ul class="sub-dropdown-menu">
                                <li><a href="#">미니</a></li>
                                <li><a href="#">미디</a></li>
                                <li style="padding-bottom: 95px;"><a href="#">롱</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="#">Shoes</a>
                            <ul class="sub-dropdown-menu">
                                <li><a href="#">부츠</a></li>
                                <li><a href="#">힐/로퍼</a></li>
                                <li><a href="#">운동화</a></li>
                                <li style="padding-bottom: 80px;"><a href="#">슬리퍼</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="dropdown" id="pcBt">
                    <button id="categoryBtn1">Top</button>
                    <ul class="dropdown-menu">
                        <li><a href="#">블라우스</a></li>
                        <li><a href="#">셔츠</a></li>
                        <li><a href="#">맨투맨/후드</a></li>
                        <li><a href="#">니트/스웨터</a></li>
                    </ul>
                </div>

                <div class="dropdown" id="pcBt">
                    <button id="categoryBtn2">Outer</button>
                    <ul class="dropdown-menu">
                        <li><a href="/2pro/hyo/hyoju/Category_menu_Padding.html">패딩</a></li>
                        <li><a href="/2pro/hyo/hyoju/Category_menu_Outer.html">코트</a></li>
                        <li><a href="/2pro/hyo/hyoju/Category_menu_Jaket.html">재킷</a></li>
                        <li><a href="#">집업</a></li>
                    </ul>
                </div>

                <div class="dropdown" id="pcBt">
                    <button id="categoryBtn3">Pants</button>
                    <ul class="dropdown-menu">
                        <li><a href="#">슬랙스</a></li>
                        <li><a href="#">청바지</a></li>
                        <li><a href="#">트레이닝/레깅스</a></li>
                    </ul>
                </div>

                <div class="dropdown" id="pcBt">
                    <button id="categoryBtn4">Skirt/Dress</button>
                    <ul class="dropdown-menu">
                        <li><a href="#">미니</a></li>
                        <li><a href="#">미디</a></li>
                        <li><a href="#">롱</a></li>
                    </ul>
                </div>

                <div class="dropdown" id="pcBt">
                    <button id="categoryBtn5">Shoes</button>
                    <ul class="dropdown-menu">
                        <li><a href="#">부츠</a></li>
                        <li><a href="#">힐/로퍼</a></li>
                        <li><a href="#">운동화</a></li>
                        <li><a href="#">슬리퍼</a></li>
                    </ul>
                </div>
            </div>
            <div class="links">
                <a href="#">NEW</a>
                <a href="#">RANK</a>
                <a href="#">SALE</a>
            </div>
        </div>
    </nav>
</div>
</html>